[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "cocoalibspotify"]
	path = cocoalibspotify
	url = https://github.com/spotify/cocoalibspotify.git
[submodule "pyspotify"]
	path = pyspotify
	url = https://github.com/mopidy/pyspotify.git
